.clearfix footer,
header,
section {
    display: block
}

.clearfix p {
    margin-top: 0;
    margin-bottom: 1rem
}

.clearfix ul {
    margin-top: 0;
    margin-bottom: 1rem
}

.clearfix ul ul {
    margin-bottom: 0
}

.clearfix a {
    color: #3f475a;
    text-decoration: none;
    background-color: transparent
}

.clearfix a:hover {
    color: #0056b3;
    text-decoration: underline
}

.clearfix a:not([href]) {
    color: inherit;
    text-decoration: none
}

.clearfix a:not([href]):hover {
    color: inherit;
    text-decoration: none
}

.clearfix img {
    vertical-align: middle;
    border-style: none
}

.mit-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.mitbtn-outline-primary {
    color: #1c3568;
    border-color: #3f475a;
    font-weight: 600;
    box-shadow: 3px 3px 8px 0 rgb(63 71 90 / 47%);
    background-color: #fff !important;
}

.mitbtn-outline-primary:hover {
    color: #fff;
    background-color: #3f475a !important;
    border-color: #3f475a
}

.mitbtn-outline-primary:focus {
    box-shadow: 0 0 0 0 #3f475a
}

.mitbtn-outline-primary:disabled {
    color: #3f475a;
    background-color: transparent
}

.mitbtn-outline-primary:not(:disabled):not(.disabled).active,
.mitbtn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #3f475a;
    border-color: #3f475a
}

.mitbtn-outline-primary:not(:disabled):not(.disabled).active:focus,
.mitbtn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0 #3f475a
}

.mitbtn-signin-btn {
    color: #1c3568;
    border: none !important;
    font-weight: 400;
    box-shadow: 3px 3px 8px 0 rgb(63 71 90 / 47%);
    background-color: #fff !important;
}

.mitbtn-signin-btn:hover {
    color: #1c3568;
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2
}

.bg-white {
    background-color: #fff !important
}

.clearfix::after {
    display: block;
    clear: both;
    content: ""
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important
}

@media (min-width:768px) {
    .d-md-flex {
        display: -ms-flexbox !important;
        display: flex !important
    }
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important
}

.align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important
}

@media (min-width:768px) {
    .justify-content-md-center {
        -ms-flex-pack: center !important;
        justify-content: center !important
    }

    .justify-content-md-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important
    }

    .align-items-md-center {
        -ms-flex-align: center !important;
        align-items: center !important
    }

    .align-content-md-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important
    }

    .align-content-md-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030
}

.mt-4 {
    margin-top: 1.5rem !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.ml-0 {
    margin-left: 0 !important
}

.mb-1 {
    margin-bottom: .25rem !important
}

.ml-1 {
    margin-left: .25rem !important
}

.mb-2 {
    margin-bottom: .5rem !important
}

.ml-2 {
    margin-left: .5rem !important
}

.mb-3 {
    margin-bottom: 1rem !important
}

.ml-3 {
    margin-left: 1rem !important
}

.mb-4 {
    margin-bottom: 1.5rem !important
}

.ml-4 {
    margin-left: 1.5rem !important
}

.mb-5 {
    margin-bottom: 3rem !important
}

.ml-5 {
    margin-left: 3rem !important
}

.p-0 {
    padding: 0 !important
}

.py-0 {
    padding-top: 0 !important
}

.pr-0 {
    padding-right: 0 !important
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.py-1 {
    padding-top: .25rem !important
}

.pr-1 {
    padding-right: .25rem !important
}

.pb-1,
.py-1 {
    padding-bottom: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.py-2 {
    padding-top: .5rem !important
}

.pr-2 {
    padding-right: .5rem !important
}

.pb-2,
.py-2 {
    padding-bottom: .5rem !important
}

.p-3 {
    padding: 1rem !important
}

.py-3 {
    padding-top: 1rem !important
}

.pr-3 {
    padding-right: 1rem !important
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.py-4 {
    padding-top: 1.5rem !important
}

.pr-4 {
    padding-right: 1.5rem !important
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important
}

.p-5 {
    padding: 3rem !important
}

.py-5 {
    padding-top: 3rem !important
}

.pr-5 {
    padding-right: 3rem !important
}

.pb-5,
.py-5 {
    padding-bottom: 3rem !important
}

.text-justify {
    text-align: justify !important
}

.text-left {
    text-align: left !important
}

.text-center {
    text-align: center !important
}

.mit-text-black {
    color: #000 !important
}

.mit-text-primary {
    color: #3f475a !important
}

.clearfix a,
a:hover {
    text-decoration: none
}

.clearfix a:focus {
    outline: 0
}

.clearfix img {
    max-width: 100%
}

.clearfix p {
    margin: 0 0 10px 0
}

.clearfix p:last-child {
    margin: 0
}

.clearfix {
    font-family: Roboto, sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: .2px;
    color: #000;
}

.mit-styled-heading h2,
.mit-styled-heading p {
    font-family: 'Playfair Display', serif
}

.mit-styled-heading h2 {
    font-weight: 700
}

.mit-styled-heading p {
    font-weight: 700
}

.mit-title-h4 {
    font-size: 1.412em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    color: #1c3568;
}

.font-weight-200 {
    font-weight: 200
}

.font-weight-300 {
    font-weight: 300
}

.font-weight-400 {
    font-weight: 400
}

.font-weight-500 {
    font-weight: 500
}

.font-weight-600 {
    font-weight: 600
}

.font-weight-700 {
    font-weight: 700
}

.font-weight-900 {
    font-weight: 900
}


.mit-p-30 {
    padding: 30px !important
}

.mit-py-30 {
    padding-top: 30px !important
}

.mit-pr-30 {
    padding-right: 30px !important
}

.mit-pb-30,
.mit-py-30 {
    padding-bottom: 30px !important
}

.mit-p-100 {
    padding: 100px !important
}

.mit-p-100 {
    padding: 100px !important
}

.mit-py-100 {
    padding-top: 100px !important
}

.mit-pr-100 {
    padding-right: 100px !important
}

.mit-pb-100,
.mit-py-100 {
    padding-bottom: 100px !important
}

.clearfix ul {
    margin: 0 0 10px 0;
    padding: 0;
    list-style-position: outside;
    display: block
}

.clearfix li>ul {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 1.5em
}

.clearfix ul li {
    margin-bottom: 10px
}

.mit-list {
    list-style-type: none
}

.mit-list li {
    display: block;
    margin-bottom: 10px
}

.mit-list-left li {
    text-align: left;
    padding: 0 20px 0 0;
    margin: 0
}

.mit-pipe-list {
    margin: 0;
    padding: 0
}

.mit-pipe-list li {
    display: inline-block;
    background: 0 0;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.mit-pipe-list li::after {
    content: '';
    border-width: 0 1px 0 0;
    border-style: solid;
    margin: 0 10px 0 12px
}

.mit-pipe-list li:last-child::after {
    content: none
}

.page-pb {
    padding-bottom: 50px
}

.mit-section {
    position: relative
}

.mit-section-with-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.mit-section-fixed-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

#mit-header-global {
    padding: 40px 0;
    display: block
}

#mit-header-global.on-scroll {
    padding: 20px 0;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .03);
    z-index: 999
}

.mit-header-left {
    min-width: 110px
}

.mit-header-right {
    margin-left: 30px;
}

#mit-header-global .logo-alt,
#mit-header-global.on-scroll .logo-default {
    display: none
}

#mit-header-global .logo-default,
#mit-header-global.on-scroll .logo-alt {
    display: block
}

.mit-page-title-content {
    position: relative;
    z-index: 9
}

.mit-copyright {
    padding: 30px 0
}

.meta-title {
    font-weight: 700;
    font-weight: 500
}

.mit-share {
    display: inline-block;
    width: auto
}

.mit-social-list {
    margin: 0
}

.mit-social-list li {
    list-style: none;
    display: inline-block;
    margin: 0 10px
}

.mit-social-list a {
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    border: 0;
    border-radius: 0;
    z-index: 9
}

.text-left.mit-social-list li:first-child {
    margin-left: 0
}

.mit-social .mit-social-button::before {
    font-size: 24px;
    line-height: 55px
}

.mit-social-list .mit-social-button {
    display: inline-block;
    padding: 0 15px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid
}

.mit-styled-social.text-left li {
    margin: 0 1px 0 0
}

.mit-social-list .mit-social-title {
    position: relative;
    padding-right: 115px
}

.mit-social-list .mit-social-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -1px
}

.mit-social a::before {
    display: inline-block;
    font-family: icomoon;
    vertical-align: middle;
    font-weight: 400
}

.mit-social a:focus {
    outline: 0
}

.mit-pricing {
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0 rgb(63 71 90 / 47%)
}

.mit-pricing-img {
    margin-bottom: 25px
}

.mit-pricing-heading h4 {
    font-size: 24px;
    font-weight: 900;
    margin: 0
}

.mit-pricing-body {
    padding: 20px 30px
}

.mit-pricing-heading {
    font-size: 24px;
    font-weight: 500;
    background-color: #f9a30b;
    padding: 20px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 4px solid #fff
}

.mit-list-pricing li {
    list-style-type: none;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-width: 0 0 1px 0;
    border-style: solid
}

.mit-list-pricing li:last-child {
    border: 0
}

#mit-header-global,
.mit-logo,
.mit-social a,
a:link,
button {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.btn-pricing {
    bottom: -35px;
    position: relative
}

.bg-white {
    background-color: #fff !important
}

.bg-grey {
    background-color: #f7f8fa !important
}

.bg-dark-grey {
    background-color: #dce5e6 !important
}

.bg-dark {
    background-color: #3f475a !important
}

.btn-white {
    background-color: #fff;
    border-color: rgba(17, 32, 77, .2);
    color: #3f475a
}

.btn-grey {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: #3e3c56
}

.mit-social-list .mit-social-button {
    border-color: rgba(17, 32, 77, .15);
    background-color: #fff;
    color: #3f475a
}

.mit-social .mit-social-button:hover::before {
    color: #6138bd
}

#mit-header-global {
    background-color: #fff
}

#mit-header-global.on-scroll {
    background-color: #fff
}

.mit-copyright {
    background-color: #3f475a
}

.mit-copyright,
.mit-copyright a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400
}

.mit-copyright a:hover {
    color: rgba(255, 255, 255, .25)
}

.mit-pipe-list li::after {
    border-color: rgba(255, 255, 255, .2)
}

.mit-list-pricing li {
    border-color: rgba(17, 32, 77, .15)
}

.mit-social-title::after {
    background-color: rgba(17, 32, 77, .15)
}

.list-disc {
    list-style: disc;
}

#mit-footer {
    margin-top: 80px;
}

.shadow-none{
    box-shadow: none;
}